.grid {
    display: grid; 
    gap: 20px ;

    /* grid-template-columns: auto 200px 400px; */ /* se puede combinar */
    /* grid-template-columns: auto auto auto; */   /* como se enseño en un principio*/
    grid-template-columns: repeat(3, 80px);  /* mas facil */
    /* grid: auto-flow / 50px 100px */
    /* grid-template-rows: auto auto auto; */

    height: 400px;
    align-content:center;/*poner al centro en forma vertical*/  
    justify-content:center; /*poner al centro en forma horizintal*/ 
}

 
.grid > div {
    text-align: center;
    border: 3px solid var(--info);
    
}
/*Especifica el inicio y el final de los elemento */
.item1{
    /* grid-column: 1/3; */
    /* grid-column: 2/3; */
    grid-area: 1/2/5/6;
}
