body {
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button, input[type=submit] {
    font-weight: bold;
    background-color: #6d55a3;
    font-size: 1rem;
    border-radius: 10%;
    padding: 10px;
    color: azure;
    margin: 10px;
    
}

button:hover {
    cursor: pointer;
    
}


