table, th,td{
    border: 2px solid black;
    border-collapse:collapse;        
}

/* p{
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: bold;
 } */


table{
    width: 550px;
    height: 550px;
}

a{
    text-decoration: none;
}

#moltres{
    width: 50px;
}

#Horario{
    width: 650px;
    height: 50px;

}

#encabezado{
    color:blue;
}
caption{
    text-align: center;

}
td{
    text-align: center;
}

#epicgame{
    margin: auto;
}