.boton {
    position: fixed;
    top: 10px;
    left: 30px;
    padding: 10px 20px;
    background-color: #050505;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    background-color: #dbd5e6;
}
h1 {
    position:absolute;
    top: 30px;
    left: 50%; 
    font-size: 35px;   
}  
div {
    text-align: center;
    margin: 20px;
    padding: 40px;
    background-color: #fff;    
    border-radius: 8px;
}  
h2 {
    font-family: 'Arial', sans-serif;
}  
p {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}  
a {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    color: #007bff;
    text-decoration: none;
}
  
  