.boton {
    position: fixed;
    top: 10px;
    left: 30px;
    padding: 10px 20px;
    background-color: #050505;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}  
body {
  font-family: Arial, sans-serif;
  background-color: #ddfcd3;
  padding: 20px;
}
.titulo {
  font-size: 38px;
  color: #146d39;
  text-align: center;
  margin-bottom: 80px;
}
h1 {
  font-size: 30px;
  color: #333;
  margin-bottom: 40px;
}
h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
li {
  margin-bottom: 15px;
  font-size: 19px;
}
