.boton {
    position: fixed;
    top: 10px;
    left: 30px;
    padding: 10px 20px;
    background-color: #050505;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}   
body {
    background-color: #ceb5b1;
    padding: 60px;
}
h1 {
  color: #ad610b;
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
ol {
  display: grid;
  justify-content: space-around;
}
ul {
  list-style-type: disc;
}
li {
  font-size: 18px;
}
